doctype html
html
  head
    title Pessoas Management
    meta(charset='utf-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/helpers.js')
  body
    block content
